@model Movies.Web.Models.Movies.SearchResultsModel
@{
    ViewData["Title"] = "Movies List";
}
<section class="movies" id="movies">
    <h2>Featured Movies</h2>
    @using (Html.BeginForm("Index", "Movies"))
    {
        // should add validation summary here...
        <input type="text" name="search" placeholder="Search word..." />
        <input type="submit" value="Search" />
    }
    <div class="row">
        @foreach (var movie in Model.Results)
        {
            <partial name="MovieResult" model="movie" />
        }
    </div>
</section>